p{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
div{
    width: 100%;
}

div p:nth-child(2){
    color: black;
}

div p:nth-child(3):hover{
    text-decoration: underline;
}

div p:nth-child(5) span:hover{
    color: marronzinhoLegal;
}